<%- include('../partials/header') %>

    <section>
    <div class="sidebar">

      <div>
        <div class="transactions">
          <div class="past-transactions-name">Past 4 Transactions</div>
          <div class="past-transactions">
          <%if(!!user.transaction.payer) {%>
          <% for (let i = 0; i < 4; i++){%> 
            
            <%= user.name %>
            <%= user.transaction[i].payer %>
            <%= user.transaction[i].paymentAmount %>

          <div class="group-transactions">
            <div class="tranactions-payer-avatar"><img src="https://img.icons8.com/clouds/500/000000/user.png"></div>
            <div class="transaction-arrow"><img src="https://img.icons8.com/flat_round/240/000000/arrow--v1.png"></div>
            <div class="tranactions-payee-avatar"><img src="https://img.icons8.com/clouds/500/000000/user-female.png"></div>
          </div>
          <%}%>
          <%} else {%>
            <div>No Past Transactions</div>
          <%}%>
        </div>
      </div>
      <div class="group-name">Groups</div>
      <div class="groups-joined">
        <div class="groups-container">
          <div class="group-avatar">
            <div>
              <img src="https://img.icons8.com/clouds/500/000000/user.png">
              <div class="group-title">Group 1</div>
            </div>
          </div>
          <div class="group-avatar">
            <div>
              <img src="https://img.icons8.com/clouds/500/000000/user.png">
              <div class="group-title">Group 2</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="main-container">
      <h5 class="center">All Transactions</h5>
      <div>
        <%# for(let member of Object.entries(members)) {%>
          <%# for (let account in member) {%>
          <%#= Object.values(member) %> 
          <%#}%>
          <%#}%>
<% user.transaction.payer %>


    <% members.map((m, idx) => m._id)%>

    <%let Test3 = []%>

    <% let avaArray = members.map((m, idx) => m.avatar).join(",")%>
 
    <% let userArray = members.map((m, idx) => m._id).forEach(e=>{ Test3.push(e)})%>
    <%let res = userArray%>

    <% Test3%>


    <%# for (let i = 0; i < Test3.length; i++){%> 
      <%#if(Test3[i] == us.payer){%>
        <%# let userName = Test3[i]%>
        <%# let us_member = members.find(elm => elm._id == us.payer) %>
        <%# us_member.avatar + ' ' + us_member.name %>
        <%#}%>
    <%#}%>
<%#if (userArray[userArray.indexOf(us.payer)] === us.payer ) {%>
  <%# members.map((m, idx) => m.name) %>
  <%#}%>
<%#us.payer%>

<%#if(us.payer === members._id) {%>

        <%# user.transaction %>
      <%if(user.transaction) {%>  
        <% user.transaction.forEach((us, idx) => {%>
          <%let elm_avatar, elm_name, elm_id;%>
          <% let us_member = members.find((elm) => {if(elm._id == us.payee) {%>
          <%elm_avatar = elm.avatar; elm_name = elm.name; elm_id = elm._id;%>
          <%}}) %>
        <%# us_member %>
        <%#elm_avatar%>
        <div class="row">
          <div class="col s12">
            <div class="card-panel blue-grey lighten-2">
              <span class="white-text">
                <div class="member-transactions">
                  <div class="tranactions-payer-avatar">
                    <img src="<%=user.avatar%>">
                  </div>
                  <div class="transaction-arrow">
                    <img src="https://img.icons8.com/flat_round/240/000000/arrow--v1.png">
                  </div>
                  <div class="tranactions-payee-avatar">
                    <img src="<%=elm_avatar%>">
                  </div>
                  <div class="messages">
                    <div><span><%= user.name %> sent <%= elm_name %> $<%= us.paymentAmount %> 
                      <br />
                      <span>Transaction Id: <%=us._id%></span>
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <%})%>
        <%}%>
        </div>
      </div>
    </div>
    <div class="chat-container">
      <div class="chat-container-title">Message Chat</div>
      <div class="chat-messages-container">
        


        <div class="chat-message-card">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/100/000000/businesswoman.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="chat-message-card">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/100/000000/businesswoman.png">
            </div>
          </div>
        </div>

        <div class="chat-message-card">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/100/000000/businesswoman.png">
            </div>
          </div>
        </div>

        <div class="chat-message-card">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/100/000000/businesswoman.png">
            </div>
          </div>
        </div>
        
        <div class="chat-message-card">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/100/000000/businesswoman.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="chat-message-card">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/100/000000/businesswoman.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="chat-message-card">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/100/000000/businesswoman.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="chat-message-card">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://img.icons8.com/clouds/100/000000/businesswoman.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="chat-message-input">
        <div class="messages-input">
          <div>
            <form action="">
              <input type="text" placeholder="Enter chat messages here...">
              <img src="https://img.icons8.com/color/240/000000/filled-sent.png">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../partials/footer') %>