<%- include('../partials/header') %>

<!-- <div class="emoji"><%#= emojiStr %></div> -->
<%if(user.transaction) {%>
<main class="member-page">
  <div id="page-container"> 
    <!--<div class="member"><%#= user.name %> Logged in</div>-->
  </div>
  <table class="highlight">
    <thead>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Groups</th>
      <th>Num. of Transactions</th>
      <th>Transactions</th>
      <tr>
    </thead>
    <tbody>
        <% if (user.avatar) {%>
          <td><img class="avatar" src="<%= user.avatar %>" alt="<%= user.name  %>'s avatar"></td>
          <% } else { %>
            <td><i id="user-account" class="las la-user"></i></td>
          <%}%>
        <td><%= user.name  %></td>
        <%if (!user.email) {%>
        <td>No Email</td>
        <% } else { %>
          <td><%=user.email%></td>
        <%}%>
        <td>
        <% user.group.forEach((usrGroups) => {%>
          <%= usrGroups %>
        <%})%>
      </td>
        <td>
          <ul>
            <% user.group.forEach((groupUser) => {%>
            <li>
              <%=groupUser.name%>
            </li>
            <%})%>
          </ul>
        </td>
        <td><%=user.transaction.length%></td>
        </tr>
        </tbody>
        </table>
        <%}%>
  <div class="stripe-form-label">Make a Stripe Payment</div>
  <div id="stripe-form">
    <form action="/member" method="POST">
        <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
        <input class="strip-input browser-default" id="paymentInput" type="number" placeholder="Enter Amount here" name="paymentAmount" value="1000" min="1000" required>
        <button
            id="paymentBtn"
            type="submit" 
            data-amount="10000"
            value="Pay with Card"
            data-key="pk_test_bxWBtKKtZqxBNXPxKzE8BLU8001CMawzKx"
            data-currency="usd"
            data-name="Funding Group"
            data-description="Stripe Payment for $100.00"
            >Pay</button>
      </form>
    </div>
  </main>
  <%if(user.transaction) {%>
  <main class="user-main">
    <table>
          <thead>
            <th>#</th>
            <th>Amount</th>
            <th>Transaction ID</th>
            <th>Stripe ID</th>
            <%if(user.transaction.createdAt) {%>
            <th>Created At</th>
            <%}%>
          </thead>
          <tbody>
          <%if (user.transaction.length === 0) {%>
            No Transactions
          <%} else {%>
          <%user.transaction.forEach((pay, idx) => { %>
            <tr>
              <td><%=idx+1 %></td>
              <td><%='$'+ pay.paymentAmount  %></td>
              <td><%= pay._id  %></td>
              <td><%= pay.stripeToken  %></td>
              <%if(pay.createdAt) {%>
              <td><%= pay.createdAt.toLocaleDateString() %></td>
              <%} else {%>
              <td></td>
              <%}%>
            </tr>
          <%})%>
          <%}%>
        </tbody>
      </table>
  </main>
  <%}%>
<%- include('../partials/footer') %>