<%- include('../partials/header') %>
<main class="group-main">
  <h5 class="center">Funding Group #<%= id %></h5>
  <div class="funding-goal">
    <label>Funding Goal:</label>
      <div id="goal-amount">$20,000.00</div>
  </div>
  <div>
    <!--<div>Group Name: <%#= user.group[0].groupMembers %></div>-->
    <!--<div>Group No: <%#= user.group[0].name %></div>-->
    <% if(user.group) { %>
    <table>
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Avatar</th>
        <th>Transaction ID</th>
        <th>Transaction Amount</th>
        <th>Group Name</th>
        <th>Group Members</th>
      </thead>
      <tbody>
      <% if(user.length > 1 ) {%>
      <% users.forEach( us => {%>
      <tr>
        <td><%= us.name %></td>
        <td><%= us.email %></td>
        <td><%= us.avatar %></td>
        <td>
        <%if (us.transaction.length === 0) {%>
          No Transactions
        <%} else {%>
          <ul>
                <%us.transaction.forEach((pay, idx) => { %>
              <li><%= pay._id  %></li>
            <%})%>
          </ul>
        <%}%>
        </td>
        <td>
        <%if (us.transaction.length === 0) {%>
          No Transactions
        <%} else {%>
          <ul>
                <%us.transaction.forEach((pay, idx) => { %>
              <li><%=idx+1 +': $'+  pay.paymentAmount  %></li>
            <%})%>
          </ul>
        <%}%>
        </td>
        <td><%= us.group.group %></td>
      </tr>
      <%});%>
      <%} else if (user) {%>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.avatar %></td>
        <td>
        <%if (user.transaction.length === 0) {%>
          No Transactions
        <%} else {%>
          <ul>
                <%user.transaction.forEach((pay, idx) => { %>
              <li><%= pay._id  %></li>
            <%})%>
          </ul>
        <%}%>
        </td>
        <td>
        <%if (user.transaction.length === 0) {%>
          No Transactions
        <%} else {%>
          <ul>
                <%user.transaction.forEach((pay, idx) => { %>
              <li><%=idx+1 +': $'+  pay.paymentAmount  %></li>
            <%})%>
          </ul>
        <%}%>
        </td>
        <td>
          <ul>
        <%user.group.forEach((gr) => {%>
          <li><%= gr.name %></li>
        <%})%>
      </ul>
      </td>
      <td>
          <ul>
        <%user.group.forEach((gr) => {%>
          <li><%= gr.groupMembers %></li> 
        <%})%>
      </ul>
      </td>
      </tr>
      <%}%>
    </tbody>
    </table>
    <%} else {%>
      This group does not have members
    <% }%>
  </div>
  <div class="group-form">
    <div class="center">Update Group Membership</div>
    <form action="/group/<%= id %>" method="POST">
      <input value="<%= user.name %>" name="groupMembers" required>
      <input placeholder="Group Name Here" name="name" required>
      <button>Add to Group</button>
    </form>  
  </div>
</main>
<%- include('../partials/footer') %>
